<div class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0">
  <div class="absolute inset-0 -z-10 overflow-hidden">
    <svg
      class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]"
      aria-hidden="true">
      <defs>
        <pattern id="e813992c-7d03-4cc4-a2bd-151760b470a0" width="200" height="200" x="50%" y="-1"
          patternUnits="userSpaceOnUse">
          <path d="M100 200V.5M.5 .5H200" fill="none" />
        </pattern>
      </defs>
      <rect width="100%" height="100%" stroke-width="0" fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)" />
    </svg>
  </div>
  <div
    class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
    <div
      class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
      <div class="lg:pr-4">
        <div class="lg:max-w-lg">
          <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Hola! soy Denisse </h1>
          <p class="text-base font-semibold leading-7 text-gray-600">Talento emergente con conocimientos sólidos y ganas
            de aprender más</p>
          <p class="mt-6 text-lg font-semibold leading-8 text-gray-800">
            Soy una apasionada programadora de 22 años con una sólida trayectoria en el desarrollo y gestión de
            sistemas. Mi entusiasmo por la tecnología me impulsa a innovar y encontrar soluciones creativas a los
            desafíos técnicos. Con experiencia en diversas tecnologías y metodologías, estoy comprometida en crear
            soluciones eficientes y escalables que transformen ideas en realidades funcionales.
          </p>
        </div>
      </div>

      <div class="-ml-12 -mt-12 p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
        <img class="w-[48rem] max-w-none rounded-xl bg-gray-900 shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem]"
          src="../../../assets/images/452251890_1228841121863148_8716975228199766181_n.jpg"
          alt="">
      </div>
      <div class="lg:pr-4">
        <div class="max-w-xl text-base leading-7 text-gray-700 lg:max-w-lg">
          <p>Tengo experiencia colaborando con empresas como GlobalTech, EctoTec e incluso en la propia universidad de
            la cual soy egresada, con habilidades para trabajar en equipo y conocimiento de herramientas y prácticas
            para automatizar e integrar procesos a la hora del desarrollo.</p>
          <ul role="list" class="mt-8 space-y-8 text-gray-600">
            <li class="flex gap-x-3">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                class="w-16 h-16 text-gray-600">
                <path fill-rule="evenodd"
                  d="M2.25 5.25a3 3 0 0 1 3-3h13.5a3 3 0 0 1 3 3V15a3 3 0 0 1-3 3h-3v.257c0 .597.237 1.17.659 1.591l.621.622a.75.75 0 0 1-.53 1.28h-9a.75.75 0 0 1-.53-1.28l.621-.622a2.25 2.25 0 0 0 .659-1.59V18h-3a3 3 0 0 1-3-3V5.25Zm1.5 0v7.5a1.5 1.5 0 0 0 1.5 1.5h13.5a1.5 1.5 0 0 0 1.5-1.5v-7.5a1.5 1.5 0 0 0-1.5-1.5H5.25a1.5 1.5 0 0 0-1.5 1.5Z"
                  clip-rule="evenodd" />
              </svg>
              <span>
                <strong class="font-semibold text-gray-900">Desarrollo web.</strong>
                Implementación de sitios web interactivos y responsivos utilizando tecnologías modernas como HTML, CSS,
                y JavaScript. Experiencia con frameworks como Laravel y Vue.js para crear aplicaciones web dinámicas y
                escalables.
              </span>
            </li>
            <li class="flex gap-x-3">
              <svg class="w-16 h-16 text-gray-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path
                  d="M4.632 3.533A2 2 0 016.577 2h6.846a2 2 0 011.945 1.533l1.976 8.234A3.489 3.489 0 0016 11.5H4c-.476 0-.93.095-1.344.267l1.976-8.234z" />
                <path fill-rule="evenodd"
                  d="M4 13a2 2 0 100 4h12a2 2 0 100-4H4zm11.24 2a.75.75 0 01.75-.75H16a.75.75 0 01.75.75v.01a.75.75 0 01-.75.75h-.01a.75.75 0 01-.75-.75V15zm-2.25-.75a.75.75 0 00-.75.75v.01c0 .414.336.75.75.75H13a.75.75 0 00.75-.75V15a.75.75 0 00-.75-.75h-.01z"
                  clip-rule="evenodd" />
              </svg>
              <span>
                <strong class="font-semibold text-gray-900">Desarrollo multiplataforma.</strong>
                Creación de aplicaciones que funcionan en múltiples plataformas y dispositivos, utilizando herramientas
                como Angular, Laravel, Ionic y Nets. Implementación de soluciones que garantizan una experiencia de
                usuario consistente y eficaz en distintas plataformas.
              </span>
            </li>

            <li class="flex gap-x-3">
              <svg class="w-16 h-16 text-gray-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd"
                  d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z"
                  clip-rule="evenodd" />
              </svg>
              <span>
                <strong class="font-semibold text-gray-900">Base de datos.</strong>
                Diseño y gestión de bases de datos relacionales y no relacionales. Experiencia en la creación de
                esquemas de bases de datos eficientes, consultas SQL complejas, y la optimización del rendimiento de
                bases de datos.
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <div class="container lg:max-w-7xl center">
    <li class="flex gap-x-3 mt-5 items-start">
      <svg class="mt-1 h-5 w-5 flex-none text-gray-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path
          d="M4.632 3.533A2 2 0 016.577 2h6.846a2 2 0 011.945 1.533l1.976 8.234A3.489 3.489 0 0016 11.5H4c-.476 0-.93.095-1.344.267l1.976-8.234z" />
        <path fill-rule="evenodd"
          d="M4 13a2 2 0 100 4h12a2 2 0 100-4H4zm11.24 2a.75.75 0 01.75-.75H16a.75.75 0 01.75.75v.01a.75.75 0 01-.75.75h-.01a.75.75 0 01-.75-.75V15zm-2.25-.75a.75.75 0 00-.75.75v.01c0 .414.336.75.75.75H13a.75.75 0 00.75-.75V15a.75.75 0 00-.75-.75h-.01z"
          clip-rule="evenodd" />
      </svg>
      <span>
        <strong class="font-semibold text-gray-900">Extracción de conocimiento de base de datos.</strong>
        Implementación de técnicas avanzadas para la extracción de conocimientos a partir de grandes conjuntos de datos.
        Experiencia con herramientas de análisis de datos y técnicas de minería de datos para obtener información útil y
        tomar decisiones basadas en datos.
      </span>
    </li>
    <li class="flex gap-x-3 mt-5 items-start">
      <svg class="mt-1 h-5 w-5 flex-none text-gray-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path
          d="M4.632 3.533A2 2 0 016.577 2h6.846a2 2 0 011.945 1.533l1.976 8.234A3.489 3.489 0 0016 11.5H4c-.476 0-.93.095-1.344.267l1.976-8.234z" />
        <path fill-rule="evenodd"
          d="M4 13a2 2 0 100 4h12a2 2 0 100-4H4zm11.24 2a.75.75 0 01.75-.75H16a.75.75 0 01.75.75v.01a.75.75 0 01-.75.75h-.01a.75.75 0 01-.75-.75V15zm-2.25-.75a.75.75 0 00-.75.75v.01c0 .414.336.75.75.75H13a.75.75 0 00.75-.75V15a.75.75 0 00-.75-.75h-.01z"
          clip-rule="evenodd" />
      </svg>
      <span>
        <strong class="font-semibold text-gray-900">Gestión de desarrollo.</strong>
        Coordinación de proyectos de desarrollo de software desde la planificación hasta la implementación. Experiencia
        en metodologías ágiles, como Scrum y Kanban, para asegurar la entrega de proyectos dentro del presupuesto y el
        cronograma establecidos.
      </span>
    </li>

  </div>
</div>
<app-sobre-mi></app-sobre-mi>
<app-proyectos></app-proyectos>
<app-contacto></app-contacto>
<router-outlet></router-outlet>
